.footer {
    background: #F4F4F4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
  }

.fa-heart:before {
    content: "ï€„";
    color: #E60014;
}

.icon {
  color: rgba(0, 0, 0, .6);
  font-size: 30px;
  padding: 0 20px;

  &:hover{
  color: rgba(0, 0, 0, 1);
  }
}

